.title_room {
  text-align: center;
}
.title_room h1 {
  font-family: "Montserrat", sans-serif;
  margin: 10px 40px;
  font-size: 46px;
  color: #000000fa;
}
.title_room h2 {
  font-family: "Montserrat", sans-serif;
  margin: 10px 40px;
  font-size: 24px;
  color: #000000fa;
}

.title_room h1 span {
  color: #c12911;
  text-shadow: 3px 2px 2px black;
  font-size: 46px;
}
.title_room h2 span {
  color: #182628;
}
.search-panel {
  position: relative;
  height: 170px;
}
.search-box {
  position: absolute;
  width: 360px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0a0a0a;
  height: 60px;
  border-radius: 40px;
  padding: 7px;
}
.search-input {
  border: none;
  background: none;
  outline: none;
  float: left;
  color: white;
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  line-height: 46px;
  width: 290px;
  padding: 0 10px;
}
.search-btn {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  color: black;
  background: #a0301e;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blank-error {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -87%);
  font-size: 14px;
  color: #ea0101;
}

@media screen and (max-width: 768px) {
  .title_room h1 {
    font-size: 28px;
  }
  .title_room h1 span {
    font-size: 36px;
  }
  .search-box {
    width: 310px;
    height: 54px;
    padding: 5px;
  }
  .search-input {
    width: 240px;
    line-height: 42px;
  }
  .search-btn {
    width: 45px;
    height: 45px;
  }
}
@media screen and (max-width: 524px) {
  .title_room h1 {
    font-size: 24px;
  }
  .title_room h1 span {
    font-size: 24px;
    text-shadow: 2px 1px 2px black;
  }
  .title_room h2 {
    margin: 20px 40px 3px;
    font-size: 17px;
  }
  .search-box {
    height: 48px;
    padding: 4px;
    width: 240px;
  }
  .search-btn {
    width: 40px;
    height: 40px;
  }
  .search-panel {
    height: 120px;
  }
  .search-input {
    width: 184px;
    font-size: 12px;
    line-height: 40px;
  }
  .blank-error {
    margin-top: 10px;
  }
}
